.cards .card-product {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid rgba(0, 0, 0, 0.234);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.book {
  text-align: center;
}
.card-product a {
  font-weight: bold;
}
