.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 0px;
}
